<!-- File: frontend/partials/hero.html -->
<section class="position-relative text-center text-white py-5" style="background-color: #030018;">
  <!-- Glow Kiri -->
  <div class="position-absolute" style="
    width: 130px;
    height: 130px;
    top: 35%;
    left: 10%;
    background: #FFB514;
    filter: blur(110px);
    border-radius: 50%;
    z-index: 0;
  "></div>

  <!-- Glow Kanan -->
  <div class="position-absolute" style="
    width: 130px;
    height: 130px;
    top: 55%;
    right: 10%;
    background: #FFB514;
    filter: blur(110px);
    border-radius: 50%;
    z-index: 0;
  "></div>

  <div class="container position-relative" style="z-index: 1;">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h1 class="fw-bold mb-4" style="
          font-family: 'Poppins', sans-serif;
          font-size: 2.75rem;
          line-height: 1.4;
          color: #ffffff;
        ">
          Cuan Konsisten <br>
          <span class="nowrap-highlight">40% - 100% Setiap Hari</span><br>
          dari MemeCoin
        </h1>
      </div>
      
      <style>
        .nowrap-highlight {
          color: #FFB514;
          white-space: nowrap;
        }
      
        @media (max-width: 576px) {
          h1.fw-bold {
            font-size: 1.75rem !important;
            line-height: 1.3 !important;
          }
        }
      </style>
      

      <div class="col-12">
        <div class="text-center my-3">
          <div style="
            display: inline-block;
            border: 1px solid #FFB514;
            border-radius: 16px;
            box-shadow: 0 4px 20px #FFB514;
            padding: 6px;
          ">
            <img src="/static/img/banner_new.png"
                 alt="Banner"
                 class="img-fluid"
                 style="max-width: 100%; height: auto; border-radius: 12px;">
          </div>
        </div>
      </div>
      
      <div class="col-lg-10">
        <p class="fw-semibold px-3 px-md-5 mb-4 mt-4" style="
          font-family: 'Poppins', sans-serif;
          font-size: 1.25rem;
          line-height: 1.8;
          color: #FFFFFF;
        ">
         Micin.id bantu kamu step-by-step buat cuan konsisten di memecoin
        </p>
      </div>

      <div class="col-12 mt-4">
        <button class="btn fw-bold d-inline-flex justify-content-center align-items-center"
                style="
                  background-color: #FFB514;
                  color: #030018;
                  border-radius: 8px;
                  font-family: 'Poppins', sans-serif;
                  font-size: 1rem;
                  padding: 1rem 2rem;
                  white-space: nowrap;"
                data-bs-toggle="modal"
                data-bs-target="#pilihanBayarModal">
          Join VIP Micin Sekarang
        </button>
      </div>
      
    </div>
  </div>
</section>
