    <!-- Modal Pilihan Bayar -->
    <div class="modal fade" id="pilihanBayarModal" tabindex="-1" aria-labelledby="pilihanBayarModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-dark text-white border-warning">
          <div class="modal-header">
            <h5 class="modal-title" id="pilihanBayarModalLabel">Pilih Metode Pembayaran</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-grid gap-3">
            <a href="/bayar/vip" class="btn btn-warning w-100 fw-bold">Bayar Via (Midtrans)</a>
            <a href="https://t.me/micindotidbot" class="btn btn-primary w-100 fw-bold" target="_blank">Bayar via Bot Telegram</a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdKzifw6-EypwJpxs0HnkAZ3ewPY3DtRsO0DRlXPDRHHH1_iw/viewform" class="btn btn-success w-100 fw-bold" target="_blank">Bayar via Solana</a>
          </div>
        </div>
      </div>
    </div>